name: talao
description: Talao Wallet

publish_to: 'none'

version: 1.1.7+47

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  auto_size_text: ^3.0.0
  bip32: ^2.0.0
  bip39: ^1.0.6
  bloc: ^8.0.2
  bloc_test: ^9.0.2
  cupertino_icons: ^1.0.4
  #device_preview: ^1.0.0
  didkit:
    path: ../didkit/lib/flutter
  dio: ^4.0.4
  ed25519_hd_key: ^2.2.0
  equatable: ^2.0.3
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_bloc: ^8.0.1
  flutter_markdown: ^0.6.9
  flutter_secure_storage: ^5.0.2
  flutter_svg: ^1.0.0
  font_awesome_flutter: ^9.2.0
  freezed: ^1.1.1
  google_fonts: ^2.2.0
  hex: ^0.2.0
  intl: ^0.17.0
  js: ^0.6.3
  json_annotation: ^4.0.1
  logging: ^1.0.2
  package_info_plus: ^1.3.0
  path: ^1.8.0
  path_provider: ^2.0.8
  qr_code_scanner: ^0.6.1
  qr_flutter: ^4.0.0
  secp256k1: ^0.3.0
  uni_links: ^0.5.1

  freezed_annotation: ^1.1.0

#  device_preview: ^1.0.0

  url_launcher: ^6.0.17
  uuid: ^3.0.5

dev_dependencies:
  build_runner: ^2.1.7
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: "^0.9.2"
  integration_test:
    sdk: flutter
  json_serializable: ^6.1.3
  mocktail: ^0.2.0
  pedantic: ^1.11.0

dependency_overrides:
  analyzer: "2.8.0"

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/launcher_icon.png"
  remove_alpha_ios: true

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/
    - assets/image/
    - assets/privacy/
    - assets/terms/
    - assets/brand/
    - assets/icon/
