name: talao
description: Talao Wallet

publish_to: 'none'

version: 1.1.3+43

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0

  flutter_bloc: ^8.0.1
  bloc: ^8.0.2

  dio: ^4.0.4
  sembast: ^3.1.1+1
  sembast_web: ^2.0.1+1

  uuid: ^3.0.5
  flutter_svg: ^1.0.0

  google_fonts: ^2.2.0
  font_awesome_flutter: ^9.2.0
  cupertino_icons: ^1.0.4

  qr_flutter: ^4.0.0
  qr_code_scanner: ^0.6.1

  path: ^1.8.0
  path_provider: ^2.0.8
  flutter_secure_storage: ^5.0.2

  js: ^0.6.3

  ed25519_hd_key: ^2.2.0
  bip39: ^1.0.6

  didkit:
    path: ../didkit/lib/flutter


  flutter_markdown: ^0.6.9
  url_launcher: ^6.0.17
  logging: ^1.0.2
  shared_preferences: ^2.0.6

  json_annotation: ^4.0.1
  package_info_plus: ^1.3.0
  bip32: ^2.0.0
  hex: ^0.2.0
  secp256k1: ^0.3.0
  uni_links: ^0.5.1
  freezed: ^1.1.1

#  device_preview: ^1.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  pedantic: ^1.11.0
  build_runner: ^2.1.7
  json_serializable: ^6.1.3
  flutter_launcher_icons: "^0.9.2"
flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/launcher_icon.png"
  remove_alpha_ios: true

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/brand/logo-full.svg
    - assets/brand/logo-circular.svg
    - assets/brand/logo-title.svg
    - assets/brand/logo-subtitle.svg
    - assets/brand/logo-splash.svg
    - assets/brand/logo-minimal.svg
    - assets/brand/spruce-icon.svg
    - assets/brand/logo_talao.png
    - assets/icon/domain.svg
    - assets/icon/profile.svg
    - assets/icon/profile-filled.svg
    - assets/icon/qr-code.svg
    - assets/icon/wallet.svg
    - assets/icon/wallet-filled.svg
    - assets/icon/location-target.svg
    - assets/icon/time-clock.svg
    - assets/image/
    - assets/privacy.md
    - assets/support.md
    - assets/notices.md
    - assets/
