<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309277174285-q41m5em0k9qh3bckrs50e729blq4grth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309277174285-q41m5em0k9qh3bckrs50e729blq4grth</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309277174285-duhpsvhjl78amlgrnv7tt3uq46avv9mf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0nNm_3tgI3k6grc75EyJaKTuNIvX2GXc</string>
	<key>GCM_SENDER_ID</key>
	<string>309277174285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.talao.wallet</string>
	<key>PROJECT_ID</key>
	<string>talao-5431a</string>
	<key>STORAGE_BUCKET</key>
	<string>talao-5431a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309277174285:ios:a306768e930133df5b4344</string>
</dict>
</plist>